.main {
    display: block;
}

.section-subtitle {
    font-size: 38px;
    font-weight: 400;
    width: 83%;
    text-align: center;
    margin: 30px auto 80px;
}

.panorama-img {
    text-align: center;
}
.panorama-img img {
    max-width: 100%;
}

.main-text p, ul, li {
    font-size: 29px;
    font-weight: 100;
    text-align: justify;
}

hr {
    margin: 15px 0;
}