.main {
    display: block;
}

.section-title {
    margin: 0;
    text-align: center;
}

main p {
    font-size: 30px;
    line-height: 2em;
}

main a {
    text-decoration: underline;
    color: blue;
}

.map {
    text-align: center;
}


@media (max-width: 1680px) {
    .main {
        width: 95%;
    }
}

@media (max-width: 1160px) {
    main p {
        font-size: 20px;
    }
    .map iframe{
        width: 100% !important;
    }
}