.spoiler-title a {
    color: var(--white);
}

.spoiler-text-link {
    display: block;
    font-size: 47px;
    border-bottom: 5px solid var(--gray);
    padding: 15px 0;
    transition: all .2s linear;
    text-align: left;
}
.spoiler-text-link:last-child {
    border-bottom: 0;
}
.spoiler-text-link::after {
    content: " →";
}
.spoiler-text-link:hover {
    padding-left: 20px;
}

.archive-button {
    width: 100%;
    text-align: center;
    margin-top: calc(22px + 35px);
}

.archive-link {
    padding: 22px 60px;
    border-radius: 50px;
    font-size: 47px;
    color: var(--white);
    background-color: var(--black);
    transition: all .2s linear;
}
.archive-link:hover {
    color: var(--black);
    background-color: var(--active-btn);
}


@media (max-width: 1160px) {
    .spoiler-text-link {
        font-size: 35px;
    }
}

@media (max-width: 900px) {
    .spoiler-text-link {
        font-size: 25px;
        padding: 10px 0;
    }
    .archive-link {
        font-size: 25px;
        padding: 12px 30px;
    }
}

@media (max-width: 500px) {
    .spoiler-text {
        padding: 10px 30px;
    }
}

@media (max-width: 400px) {
    .spoiler-text {
        padding: 10px;
    }
}