.main {
    display: block;
}

.news-row {
    display: flex;
    justify-content: space-between; 
}

.news-item {
    width: 41%;
}

.news-img img {
    width: 100%;
    max-width: 688px;
    max-height: 447px;
}

.news-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news-title .nav-link {
    font-size: 34px;
    padding: 8px 16px;
}