ul {
    margin: 0;
}

.main {
    display: block;
}

.small-container {
    max-width: 1396px;
}

.back-btn a {
    font-size: 34px;
    padding: 8px 16px;
}

.news-title {
    font-size: 60px;
    line-height: 54px;
    text-align: justify;
    margin-top: 50px;
}

.news-date {
    margin-top: 1.5em;
    font-style: italic;
    text-align: right;
}

.news-note-img img {
    width: 100%;
    object-fit: cover;
}

.news-note-text {
    font-size: 30px;
}

.news-note-link {
    color: blue;
    text-decoration: underline;
}

.prev-next-btns {
    text-align: center;
}